.banner-wrap{
  padding-bottom: 30px;
}
.banner-text{
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.banner-text h1{
    font-size: 50px;
    margin-top: 50px;
}

.banner-text p{
    font-size: 16px;
    margin-top: 20px;
}

.banner-text button{
    padding: 10px;
    background-color:#A522C3;
    border: none;
    border-radius: 50px;
    color: #fff;
    margin-top: 30px;
}

.banner-img-wrap{
    text-align: center;
}

.banner-img{
    width: 90%;
}

@media screen and (max-width: 900px){
    .banner-text h1{
        font-size: 30px;
    }    
}

@media screen and (max-width: 500px){
    .banner-text h1{
        font-size: 20px;
    }

    .banner-text p{
        font-size: 12px;
    }    
}
