.footer-wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #221C38;
    color: #fff;
}

.footer-links{
    display: flex;
    justify-content: center;
}

.footer-links p{
    margin: 0 10px;
    font-size: 14px;
}

.socials img{
  width: 14px;
  height: 14px;
  margin: 0 10px;
}

@media screen and (max-width: 700px){
    .footer-wrap{
        flex-direction: column;
    }
    .footer-links{
        flex-direction: column;
        margin: 20px 0;
    }
    .footer-links p{
        margin: 10px 0;
    }
    .socials img{
        margin-left: 2px;
      }
}