.nav-items{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-items li {
    margin: 0 10px;
    font-size: 14px;
}

.nav-items li button{
    padding: 10px;
    background-color: #fff;
    color: #221C38;
    border: none;
    margin-top: -10px;
}