.nav-items{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-items li {
    margin: 0 10px;
    font-size: 14px;
}

.nav-items li button{
    padding: 10px;
    background-color: #fff;
    color: #221C38;
    border: none;
    margin-top: -10px;
    border-radius: 50px;
}

.hambugger{
    display: none;
}

@media screen and (max-width: 740px){
    .nav-items{
        display: none;
    }

    .hambugger{
        display: block;
    }
}