.nav-items{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-items li {
    margin: 0 10px;
    font-size: 14px;
    color: #fff;
}

.nav-items li button{
    padding: 10px;
    background-color: #fff;
    color: #221C38;
    border: none;
    margin-top: -10px;
    border-radius: 50px;
}

.hambugger{
    display: none;
}

.nav-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    text-align: center;
}

.overlay-list{
    color: #fff;
    list-style-type: none;
    font-size: 18px;
    margin-top: 70px;
}

.close{
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 100px;
    cursor: pointer;
}

@media screen and (max-width: 740px){
    .nav-items{
        display: none;
    }

    .hambugger{
        display: block;
        cursor: pointer;
    }
}