.testimonial{
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to right, #782980 25%, #4F4673);
}

.testimonial h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.testimonial-text-wrap{
    width: 90%;
    background-image: linear-gradient(to right, #4F4673 25%, #513ab0);
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    line-height: 1.3em;
    border-radius: 10px;
}

.testimonial-text{
  margin-bottom: 20px;
  font-weight: 200;
}

.testimonial-details{
   display: flex;
   justify-content: center;
   text-align: left;
}

.text-img{
    margin-right: 10px;
}

.role{
    font-weight: 200;
}